.trash/worldscholarscup/
.obsidian/workspace.json
.obsidian/workspace.json
.obsidian/plugins/make-md/Spaces.mdb
.makemd/superstate.mdc
.makemd/fileCache.mdc
.obsidian/workspace.json
.obsidian/plugins/make-md/data.json
.obsidian/workspace.json
/.obsidian
